{{- if .Values.serviceAccount.create -}}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    {{- include "acm-switchover-rbac.labels" . | nindent 4 }}
{{- end }}
