{{- if .Values.serviceAccount.create -}}
---
# ServiceAccount for ACM Switchover Operator
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.operator.name }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "acm-switchover-rbac.labels" . | nindent 4 }}
    app.kubernetes.io/component: operator
    app.kubernetes.io/role: operator
    {{- with .Values.serviceAccount.operator.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.serviceAccount.operator.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: true

---
# ServiceAccount for ACM Switchover Validator
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.validator.name }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "acm-switchover-rbac.labels" . | nindent 4 }}
    app.kubernetes.io/component: validator
    app.kubernetes.io/role: validator
    {{- with .Values.serviceAccount.validator.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.serviceAccount.validator.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: true
{{- end }}
